.colorPickerContainer {
  position: absolute;
  top: 80px;
  left: 165px;
  display: grid;
  grid-template-columns: repeat(3, 20px);
  grid-gap: 0px;
  border-radius: 4px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.colorSquare {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.colorSquare:first-child {
  border-radius: 4px 0 0 0;
}

.colorSquare:nth-child(3) {
  border-radius: 0 4px 0 0;
}

.colorSquare:nth-child(7) {
  border-radius: 0 0 0 4px;
}

.colorSquare:nth-child(9) {
  border-radius: 0 0 4px 0;
}