.mentions__suggestions__list {
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  font-size: 1rem;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.mentions__suggestions__item {
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.mentions__suggestions__item--focused {
  background-color: #007bff;
  color: #fff;
}