.SelectionCard {
  position: absolute;
  border-radius: 12px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
  background: #ffffff;
  overflow: hidden;
  z-index: 1000;
}

.SelectionCard-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  background-color: #f0f0f0;
  border-bottom: 1px solid #e0e0e0;
}

.SelectionCard-body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0rem;
}

.button-left,
.button-right,
.button-inbetween {
  flex: 1;
  padding-top: 0.2rem;
  padding-bottom: 0.5rem;
  font-size: 1.2rem;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.new {
  background-color: #D4F5E2;
  color: #0D5E37;
}
.new:hover {
  background-color: #C3E9D0;
}

.link {
  background-color: #D1E7FD;
  color: #0D53A0;
}
.link:hover {
  background-color: #BBD8FA;
}

.tree {
  background-color: #EADAD1;
  color: #6E3B0D;
}
.tree:hover {
  background-color: #E0C9B8;
}

.ask {
  background-color: #FEE6D2;
  color: #D46A0D;
}
.ask:hover {
  background-color: #FDDCB8;
}

.button-left {
  border-radius: 0px 0 0 12px;
}

.button-right {
  border-radius: 0 0px 12px 0;
}

.button-inbetween {
  border-radius: 0;
}

.button-left .react-icons,
.button-right .react-icons,
.button-inbetween .react-icons {
  vertical-align: middle;
  margin-right: 0.2rem;
}

.button-left,
.button-inbetween,
.button-right {
  border: none;
  width: 100%;
}
